/*styling the body*/
body{
    background-color: black;    /*adding background color for the webpage*/
    color: greenyellow; /*color of the text*/

}
/*styling the heading*/
h1{
    text-align: center; /*putting the heading at center*/
    border-bottom:  2px solid yellow;   /*adding a line below the heading*/
    border-radius: 20px;    /*adding curve at the corner of the border bottom*/
}
/*styling the btn from javascript file*/
.btn{
    background-color:yellowgreen;   /*background color of the button*/
    border-radius: 15px;    /*curves the corner of the button*/
    border: none;   
    color: black;   /*font color set to black*/
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;  /*font stylr*/
    margin: 30px;
    padding: 30px;
    cursor: pointer;    /*the cursor changed to pointer when hovering over the button*/
    text-align: center; /*put the text inside the button in center*/

}
/*adding hover to button*/
.btn:hover{
    opacity: 0.7;   /*reduced the opactiy of the border when hovering*/
}
.btn:focus{
    outline: none;  /*removing the outline*/
}

/*styling the button like a soundboard*/
.button{
    display: grid; /*all the buttons comes in the form of grid*/
    gap: 15px;  /*gap between each column*/
    grid-template-columns: repeat(4,1fr); /*the buttons gets placed like a soundboard 4 in a row*/
    padding: 20px;
}